.u-section-1 .u-sheet-1 {
  min-height: 166842px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 50px 50px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 150px 50px 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  margin: 150px 50px 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-size: 1.25rem;
  margin: 150px 50px 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 823px;
  margin: 138px auto -81940px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 0 0 60px 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166642px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 92px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 71px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: -82140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 146118px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -228px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 636px;
    width: 440px;
    margin-top: 62px;
    margin-bottom: -81940px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 83610px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 108px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
    width: 240px;
    margin-top: 60px;
    margin-bottom: -540px;
  }
}