.u-section-1 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 50px 50px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 150px 50px 60px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 150px 50px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 50px 0;
}

.u-section-1 .u-image-1 {
  width: 324px;
  height: 499px;
  margin: 30px auto 260px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 150px;
  }
}